watchdog==0.8.3
PyYAML==3.12
AppKit==0.2.8
Cython==0.27.1
pyOpenSSL==17.3.0
argcomplete==1.9.2
com==1.0.0
cryptography==2.1.1
protobuf==3.4.0
ipaddr==2.2.0
java==0.0.1
lxml==4.1.0
mock==2.0.0
ndg_httpsclient==0.4.3
numpy==1.13.3
org==1.0.0
pyasn1==0.3.7
redis==2.10.6
select_backport==0.2
setuptools_svn==1.2
simplejson==3.11.1
Twisted==17.9.0
wincertstore==0.2
zope==4.0b2
